
<form>
  <label for="fname">Latidue 1:</label><br>
  <input type="text" id="lat1" name="lat1" value="51.501564"><br>
  <label for="lname">LOnigtude 1:</label><br>
  <input type="text" id="lng1" name="lng1" value="-0.141944">
</form>

<form>
  <label for="fname">Latidue 2:</label><br>
  <input type="text" id="lat2" name="lat2" value="51.499581"><br>
  <label for="lname">LOnigtude 2:</label><br>
  <input type="text" id="lng2" name="lng2" value="-0.127309">
</form>


<div id="floating-panel">
    <b>Mode of Travel: </b>
    <select id="mode">
      <option value="DRIVING">Driving</option>
      <option value="WALKING">Walking</option>
      <option value="BICYCLING">Bicycling</option>
      <option value="TRANSIT">Transit</option>
    </select>
    </div>

<button id="myBtn">Lets go!</button>
<p>
<p>Total Distance: <span id="totalKM"></span></p>
<p>Total Time: <span id="totalH"></span></p>
    <div id="map"></div>
</p>

<script>
    lat1 = parseFloat(document.getElementById('lat1').value);
    lng1 = parseFloat(document.getElementById('lng1').value);
    lat2 = parseFloat(document.getElementById('lat2').value);
    lng2 = parseFloat(document.getElementById('lng2').value);
    console.log("lat1, lng1,lat2, lng2" + lat1,lng1,lat2, lng2)
    console.log("typeof lat1" + typeof lat1)
    document.getElementById("myBtn").addEventListener('click', function () {
    initMap2(lat1, lng1,lat2, lng2);
    });
    document.getElementById('mode').addEventListener('change', function () {
      initMap2(lat1, lng1,lat2, lng2);
    });
</script>